<div class="enrollment-list">
    <div class="enrollment-item" *ngFor="let subject of subjects$ | async; let i = index">
        <div class="header" (click)="toggleDescription(i)">
          <span class="subject">{{ subject.subjectName }}</span>
          <button class="toggle-button">
            {{ expandedEnrollments[i] ? '▲' : '▼' }}
          </button>
        </div>
        <div class="description" [class.expanded]="expandedEnrollments[i]">
          <p> {{ subject.description }} </p>
        </div>
    </div>
</div>
