.placeholder-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
}

.placeholder {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    height: 60px; 
    width: 50vw;    
    animation: pulse 1.5s infinite ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filling {
    background-color: #e0e0e0;
    display: block;
    height: 50%;
    width: 90%;
    margin: auto;
    border-radius: 4px;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .placeholder {
        width: 90%;
    }
}
