<div class="landing-page">
    <app-dashboard-header>
        <p>Available enrollments</p>
    </app-dashboard-header>

    <div class="enrollments-list">
        <ng-container *ngIf="isLoading">
            <app-subject-placeholder></app-subject-placeholder>
        </ng-container>

        <ng-container *ngIf="!isLoading">
            <app-enrollment-item [subjects$]="subjects$">
                <ng-template let-subject="subject">
                    <button class="enroll-button" (click)="enroll(subject.id)">Enroll</button>
                </ng-template>
            </app-enrollment-item>
        </ng-container>
    </div>
</div>