<div class="landing-page">
    <div class="dashboard-header">
        <p>Available enrollments</p>
    </div>

    <div class="enrollments-list">
        <ng-container *ngIf="isLoading">
            <app-subject-placeholder></app-subject-placeholder>
        </ng-container>

        <ng-container *ngIf="!isLoading">
            <div class="enrollment-item" *ngFor="let subject of subjects$ | async; let i = index">
                <div class="header" (click)="toggleDescription(i)">
                    <span class="subject">{{ subject.name }}</span>
                    <button class="toggle-button">
                        {{ expandedEnrollments[i] ? '▲' : '▼' }}
                    </button>
                </div>
                <div class="description" [class.expanded]="expandedEnrollments[i]">
                    <p>{{ subject.description }}</p>
                    <button class="enroll-button" (click)="enroll(subject.id)">Enroll</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>