
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background: linear-gradient(120deg, #1F1C2C, #928DAB);
    color: #E4F9F5;
    min-height: 100vh;
    min-width: 100vw;
}

.dashboard-header {
    text-align: center;
    padding: 60px 20px;
    min-width: 50%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.dashboard-header:hover {
    transform: scale(1.05);
}

.dashboard-header h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.dashboard-header p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
}

.enrollments-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.enroll-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .enrollment-item {
        width: 90%;
    }

    .dashboard-header h2 {
        font-size: 36px;
    }

    .dashboard-header p {
        font-size: 18px;
    }
}
