<div class="landing-page">
    <div *ngIf="!(isLoggedIn$ | async)">
    <div class="hero">
        <h2>Welcome to ESS</h2>
        <p>Your ultimate solution for managing student and academic data efficiently.</p>
        <button routerLink="/login">Get Started</button>
    </div>
    <section class="quick-actions">
        <h3>Quick Info</h3>
    <section class="features">
        <div class="feature-card">
            <h3>Easy to Use</h3>
            <p>Intuitive interface to manage and access data with ease.</p>
        </div>
        <div class="feature-card">
            <h3>Secure</h3>
            <p>State-of-the-art security to protect your academic information.</p>
        </div>
        <div class="feature-card">
            <h3>Customizable</h3>
            <p>Tailor the system to suit your unique needs effortlessly.</p>
        </div>
    </section>
    </section>
    </div>
    <div *ngIf="isLoggedIn$ | async">
        <header class="hero">
            <h2>Welcome back, {{ name$ | async}}!</h2>
            <p>Manage your academic records and stay on top of your progress.</p>
        </header>
    
        <section class="quick-actions">
            <h3>Quick Actions</h3>
            <section class="features">
                <a class="feature-card" routerLink="/profile">
                    <h3>Profile</h3>
                    <p>View and update your personal details.</p>
                </a>
                <a class="feature-card">
                    <h3>My Courses</h3>
                    <p>Access enrolled courses and resources.</p>
                </a>
                <a class="feature-card">
                    <h3>Grades</h3>
                    <p>Check your academic performance.</p>
                </a>
            </section>
        </section>
    </div>
</div>
