<div class="landing-page">
    <div class="dashboard-header">
        <p>Grades Overview</p>
    </div>

    <div class="grades-list">
        <ng-container *ngIf="isLoading">
            <app-subject-placeholder></app-subject-placeholder>
        </ng-container> 

        <ng-container *ngIf="!isLoading">
            <div class="grade-item" *ngFor="let grade of grades$ | async">
                <span class="subject">{{ grade.name }}</span>
                <span class="score">{{ grade.grade }}</span>
            </div>
        </ng-container>
    </div>
</div>
